/* Общие стили для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eef2f5; /* Цвет фона изменён на более светлый */
    color: #333;
    margin: 20px;
}
.canvas-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Стили для формы */
.form-container {
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.label {
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
}

.input-text, .radius-select {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}



/* Стили для кнопок */
.button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.98);
}

/* Кнопка для проверки */
.submit-button {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.6);
    transition: background-color 0.3s, transform 0.2s;
}


.submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.submit-button:active {
    transform: scale(0.98);
}



/* Таблица с результатами */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.styled-table tbody tr {
    background-color: #f3f3f3;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #e9ecef;
}

.styled-table tbody tr:hover {
    background-color: #d6e3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}



/* Ссылка на страницу */
.back-button {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #007bff;
    color: white;
}

/* Стили для контейнера кнопок */
.radius-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

/* Стили для кнопок радиуса */
.radius-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

/* Цвет кнопки при наведении */
.radius-link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Цвет кнопки при нажатии */
.radius-link:active {
    transform: scale(0.98);
}

/* Убираем обводку при фокусе */
.radius-link:focus {
    outline: none;
}

/* Стиль для активной кнопки */
.active-link {
    background-color: #0056b3 !important;
    transform: scale(1.05);
    color: white;
}

/* Кнопки неактивные, но выбранные */
.radius-link.selected {
    background-color: #0056b3;
    color: white;
}
/* Стилизация блока ошибок */
.error-messages {
    color: #FF0000; /* Красный цвет текста */
    font-weight: bold;
    background-color: #F8D7DA; /* Светло-красный фон */
    padding: 10px;
    border: 1px solid #F5C6CB; /* Тонкая рамка */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 10px;
    margin-bottom: 20px;
    margin-outside: 20px;
}

/* Стилизация отдельных сообщений об ошибках */
.error-messages li {
    margin-bottom: 5px;
}

/* Стилизация полей с ошибками */
.input-text.error {
    border: 2px solid #FF0000;
    background-color: #F8D7DA;
}

/* Добавим стили для отображения ошибок рядом с полем */
.error-message {
    color: #FF0000;
    font-size: 12px;
    margin-top: 5px;
}

